{{- $name := promptStringOnce . "name" "Git/user display name" -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $work := promptBoolOnce . "work" "Is this a work machine?" -}}
{{- $desktop := promptBoolOnce . "desktop" "Is this a desktop/GUI machine?" -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  work: {{ $work }}
  desktop: {{ $desktop }}

scriptEnv:
  NEEDRESTART_MODE: "a"
