{{- $editorInput := promptStringOnce . "editor" "Default terminal editor command" "vim" -}}
{{- $editor := $editorInput -}}
{{- $waitEditor := $editorInput -}}
{{- $editorCommand := first (splitList " " $editorInput) -}}
{{- if and (or (eq $editorCommand "zed") (eq $editorCommand "zeditor") (eq $editorCommand "cursor") (eq $editorCommand "code")) (not (contains "--wait" $editorInput)) -}}
{{- $waitEditor = printf "%s --wait" $editorInput -}}
{{- end -}}
{{- $work := promptBoolOnce . "work" "Is this a work machine?" -}}
{{- $desktop := promptBoolOnce . "desktop" "Is this a desktop/GUI machine?" -}}

data:
  editor: {{ $editor | quote }}
  waitEditor: {{ $waitEditor | quote }}
  work: {{ $work }}
  desktop: {{ $desktop }}

sourceDir: {{ .chezmoi.sourceDir | quote }}

scriptEnv:
  NEEDRESTART_MODE: "a"
